<ng-form name="vortoForm">
    <div id="vorto-{{model.id}}" class="vorto" ng-controller="Our.Umbraco.PropertyEditors.Vorto.vortoEditor">

        <ul class="vorto-tabs" ng-if="languages.length > 1">
            <li class="vorto-tabs__item"
                ng-class="language.isoCode == activeLanguage.isoCode ? 'active' : ''"
                ng-repeat="language in languages"
                ng-click="setActiveLanguage(language);">
                <span ng-hide="model.config.displayNativeNames">{{language.name}}</span>
                <span ng-show="model.config.displayNativeNames">{{language.nativeName}}</span>
            </li>
        </ul>

        <div ng-class="languages.length > 1 ? 'vorto-property' : ''"
             ng-repeat="language in languages"
             ng-show="activeLanguage.isoCode == language.isoCode">
            <vorto-property view="property.viewPath" config="property.config" language="language.isoCode" property-alias="model.alias" value="model.value.values[language.isoCode]"></vorto-property>
        </div>

    </div>
</ng-form>